:root {
    --color-Cream: hsl(30, 38%, 92%);
    --color-Dark-cyan: hsl(158, 38%, 37%);
    --color-Very-dark-blue: hsl(212, 21%, 14%);
    --color-Dark-grayish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
}
body {
    background-color: var(--color-Cream);
    display: flex;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 180px;
}
.all {
    display: flex;
    width: 600px;
    height: 435px;
    background-color: var(--color-white);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.child {
    width: 50%;

}
.two {
}
.per {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    margin-top: 0px;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

h1 {
    font-weight: 800;
    font-family: "Fraunces", serif;
    width: 200px;
    margin-left: 30px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 230px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.price {
    display: flex;
    align-items: center;
}
.offer-price {
    color: var(--color-Dark-cyan);
    display: inline-flex;
    margin-left: 30px;
}
.original-price {
    text-decoration: line-through;
    display: inline-flex;
}
.cart-button {
    background-color: var(--color-Dark-cyan);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    width: 240px;
    border-radius: 8px;
    height: 45px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
}

.cart-icon {
    margin-right: 7px;
}